<html>
    <body>
        <head><title>Login</title>
        <style>

body {
        background-image: url("assets/img/hero-bg.jpg");
        background-size: cover;
        padding: 90px;
        border-bottom:2px solid transparent; 
    }
form { width: 300px;
        height: 50;
        margin: 0 auto;
        background-repeat: no-repeat;
        /* background:rgba(0, 0, 0, 0.15); */
        height: 85%;
        min-height: 80%;
        top: 0;
        left: 0;
        z-index: 99;
        text-align: center;
        text-transform: capitalize;
        border-bottom:2px solid transparent;
        padding-top: 0%;
        padding :0cm;
        -o-transition: all .2s;
        -moz-transition: all .2s;
        -webkit-transition: all .2s;
        -ms-transition: all .2s;
    }
    input
  {
    width: 300px;
    height: 20px;
    margin-top: 1px;
    padding: 15px;
    background: #000000;
    background: rgba(189, 129, 80, 0.15);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-align: center;
    border-radius: 1px;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 40px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    transition: all .1s;
    -moz-transition: all .1s;
    -webkit-transition: all .1s;
    -ms-transition: all .1s;
    position: relative;

  }

    </style>  
        </head>
        
<div class="login-form">
    <form  *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
            <!-- <label for="exampleInputEmail1">Email</label> -->
            <input type="text" name="nom" class="form-control" placeholder="Enter votre nom" [(ngModel)]="form.email" required email #email="ngModel">
        </div>

        <div class="form-group">
            <!-- <label for="exampleInputPassword1">Password</label> -->
            <input type="password" name="password" class="form-control" placeholder="Entrer votre Password" [(ngModel)]="form.password" required password #password="ngModel">
        </div>
        <button style="background-color: aliceblue;" type="submit" class="btn oneMusic-btn mt-30">Se Connecter</button>
        <div class="form-group">

        </div>
    </form>

    <a routerLink="/register">Inscri-vous</a>
</div>
</body>
</html>