<div>
    <div *ngIf="curuser.id" class="edit-form">
      <h4>Utilisateur</h4>
      <form>
        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" class="form-control" id="nom" [(ngModel)]="curuser.nom" name="nom"/>
        </div>
        <div class="form-group">
          <label for="prenom">Prenom</label>
          <input type="text" class="form-control" id="prenom" [(ngModel)]="curuser.prenom" name="prenom" />
        </div>
              <div class="form-group">
          <label for="datenaiss">Date de naissance</label>
          <input type="text" class="form-control" id="datenaiss" [(ngModel)]="curuser.datenaiss" name="datenaiss" />
        </div>
              <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" [(ngModel)]="curuser.email" name="email" />
        </div>
              <div class="form-group">
          <label for="telephone">Telephone</label>
          <input type="text" class="form-control" id="telephone" [(ngModel)]="curuser.telephone" name="telephone" />
        </div>
              <div class="form-group">
          <label for="poids">Poids</label>
          <input type="text" class="form-control" id="poids" [(ngModel)]="curuser.poids" name="poids"/>
        </div>
  
       
      </form>
      <button class="badge badge-danger mr-2" (click)="deleteuser()">Delete </button>
  
      <button type="submit" class="badge badge-success mb-2"(click)="updateuser(curuser)"> Update </button>
      <p>{{ message }}</p>
     </div>
  
    <div *ngIf="!curuser.id">
      <br />
      <p>Cannot access this User...</p>
    </div>
  </div>
  